/* Reset start */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Libre Franklin", sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}
/* Reset end */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
}