#page_main {
    .baner {
        width: 100%;
        height: 660px;

        .container {
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            h1 {
                font-size: 80px;
            }

            .efficiency-improvements {
                position: relative;
                width: 800px;
                height: 400px;
                border: 20px solid;
                border-bottom: none;
                border-radius: 20px 20px 0px 0px;

                &-interior {
                    position: absolute;
                    left: -7px;
                    top: -7px;
                    width: 102%;
                    height: 102%;
                    border: 0px solid;
                    border-bottom: none;
                    border-radius: 15px 15px 0px 0px;  
                    background-image: url(../img/Inner-screen.png);
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                }

                &::before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    left: -220px;
                    top: 58px;
                    width: 1200px;
                    height: 322px;
                    background-color: #8E9C78;
                    border: 0px solid;
                    border-radius: 30px;
                }
            }
        }   
    }
}